<h1>Editing Event</h1>

<%= form_with model: @event do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.select :day_id, Day.all.map {|day| [day.to_s, day.id] } %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
