<p>
    <strong>Title:</strong>
    <%= @event.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @event.body %>
</p>
<%= link_to 'Event List', events_path %>


<p><%= link_to 'Delete', @event, method: 'delete', data: { confirm: 'Are you sure?' }%></p>
<p><%= link_to 'Go back to all events', events_path %></p>