<p>
    <strong>Title:</strong>
    <%= @day.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @day.text %>
</p>
<%= link_to 'Day List', days_path %>


<p><%= link_to 'Delete', @day, method: 'delete', data: { confirm: 'Are you sure?' }%></p>
<p><%= link_to 'Go back to all days', days_path %></p>