<p id="notice"><%= notice %></p>

<p>
  <strong>Weekday:</strong>
  <%= @day.weekday %>
</p>

<p>
  <strong>Description:</strong>
  <%= @day.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @day.year %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
